.wrapper {
  display: grid;
  grid-template-columns: minmax(5rem, max-content) 1fr;
  height: 100vh;
  background-color: var(--gray-color);
  overflow: hidden;
}

.outlet {
  padding: 1.5rem;
  height: 100vh;
  overflow-y: scroll;
}

.inner_outlet {
  padding: 1rem;
}
