.error_input {
  color: var(--danger-color);
  outline-color: var(--danger-color);
  border: 1px solid var(--danger-color);
}
.error_input:focus {
  color: var(--danger-color);
  outline-color: var(--danger-color);
  border: 1px solid var(--danger-color);
}

.error {
  background-color: var(--danger-color);
}

.input {
  padding: 0.5rem;
  height: auto;
  font-size: 0.9rem;
  font-family: inherit;
}

.days input {
  display: none;
}

.days label {
  display: flex;
  overflow: hidden;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  background-color: var(--gray-color);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 0.5rem;
}

.days input[type="checkbox"]:checked + label {
  color: var(--white-color);
  background-color: var(--primary-color);
}
