.table {
  margin-top: 0.5rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  border-spacing: 0.3rem 0.3rem;
  padding: 0.1rem;
  border-collapse: collapse;
  background-color: var(--white-color);
}

.table td {
  font-size: 0.875rem;
  padding: 0.5rem;
  border-bottom: 1px solid #e2e8f0;
}

.table tr th {
  text-align: left;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 1rem;
  background-color: var(--white-color);
  color: var(--font-dark-blue-color);
  border-bottom: 1px solid #e2e8f0;
  top: 0;
  position: sticky;
  z-index: 999;
}

.table tr th button {
  color: var(--font-dark-blue-color);
}

.table tbody tr:nth-last-child(1) td {
  border: none;
}

.table tr th:nth-child(1),
.table tr td:nth-child(1) {
  padding-left: 1rem;
}

.table tr th:last-child,
.table tr td:last-child {
  padding-right: 1rem;
}

.table tr th:not(.static_action),
.table tr td:not(.static_action) {
  min-width: 10rem;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table tr:nth-child(odd) {
  background-color: var(--gray-color);
}

.sort_button {
  padding: none;
  display: inline-flex;
  justify-content: baseline;
  align-items: baseline;
  background-color: transparent;
  border: none;
  height: 100%;
}

.sort_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.static_action {
  position: sticky;
  margin: 0;
  right: 0;
  width: 5rem;
}

.wrapper_table_sticky {
  max-width: 100%;
  min-height: max-content;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  max-height: 75vh !important;
  height: 100%;
  margin-top: 1rem;
}

.wrapper_table_sticky table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.wrapper_table_sticky tr th {
  padding: 0.5rem;
  border: none;
}

.wrapper_table_sticky tr td {
  border: none;
}

.wrapper_table_sticky tr:nth-child(odd) .static_action {
  background-color: var(--gray-color);
}

.wrapper_table_sticky tr:nth-child(even) .static_action {
  background-color: var(--white-color);
}

.wrapper_table_sticky tr:nth-child(odd) th.static_action {
  background-color: var(--white-color);
}

.two_rows_alternating tr:nth-child(4n + 0) {
  background-color: var(--white-color);
}

.two_rows_alternating tr:nth-child(4n + 1) {
  background-color: var(--white-color);
}

.true {
  color: var(--tag-sent-content);
  background-color: var(--tag-sent-background);
}

.false {
  color: var(--tag-cancelled-content);
  background-color: var(--tag-cancelled-background);
}

.true,
.false {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  font-weight: 500;
}

.filter_wrapper {
  flex-grow: 1;
}

.no_data {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
}
