:root {
  --primary-color: #1a488e;
  --secondary-color: #e3f5ff;
  --accent-color: #4abcfa;
  --tertiary-color: #efefef;
  --quarternary-color: #143b83;
  --primary-disabled-color: #0074b3;

  --on-hover-primary-color: #3663a5;
  --on-hover-danger-color: #e76161;

  --white-color: #fff;
  --black-color: #000;

  --success-color: #00a96e;
  --warning-color: #ffbe00;
  --info-color: #00b5ff;
  --danger-color: #d42626;

  --gray-color: #efefef;
  --font-gray-color: #595959;
  --font-darker-gray-color: #666666;
  --font-dark-blue-color: #222e39;

  --tag-unpaid-content: #da6000;
  --tag-unpaid-background: #fff2e3;

  --tag-proccessed-content: #b88d00;
  --tag-proccessed-background: #ffffe4;

  --tag-sent-content: #13a100;
  --tag-sent-background: #e8ffe3;

  --tag-confirmed-content: #0084a1;
  --tag-confirmed-background: #e3f6ff;

  --tag-cancelled-content: #da0000;
  --tag-cancelled-background: #ffe3e3;
}
